<img class="logo" src="../../assets/M-Logo.png" height="50px" width="50px">
<div class="container">    
  <div class="nav-items"><button class="btn btn-link">CODE SHOP</button></div>  
  <div class="nav-items"><button class="btn btn-link">PORTFOLIO</button></div> 
  <div class="nav-items"><a class="btn btn-link" href="../../assets/MUKESH R.pdf" download="MUKESH R.pdf">RESUME</a></div> 
  <div class="nav-items"><button class="btn btn-link">CONTACT</button></div> 
</div>

<br><br><br>

<h1 style="font-family: freight-display-pro;"><b>Frontend Developer</b></h1>

<br>

<div class="contact-Me">
    <div class="contact-Btn">
        <button class="btn btn-primary-outline" (click)="contactMe()">CONTACT ME</button>
    </div>

</div>

<br>
<div class="contact-Info" *ngIf="contactInfo" style="font-size:medium;"> 
    <br>
    <i>Name: </i><b> &nbsp; Mukesh</b> <br>
    <i>Email:</i><a class="btn btn-link" href="mukesh.rajasekar@gmail.com">mukesh.rajasekar@gmail.com</a> <br>
    <i>Ph No: </i><b> &nbsp;9677078400</b> <br>
    <i>LinkedIn:</i><a class="btn btn-link" href = "https://www.linkedin.com/in/mukesh-rajasekar-baa7b7179/" target="_blank">Mukesh Raj</a><br>

</div>
<br>

