<!-------Body Section 1 to display about myself-------->

<div class="parent1">
    <div class="abt-myself-heading">
        <span class="abt">About</span> &nbsp;
        <span class="myself">Myself</span>
    </div>
    <div class="abt-content">

        <h2><i>My Passion and focus is Frontend Development</i></h2>
        <p>
            I am a Mechanical Engineering graduate who began to develop interest in the Software Development,
            but i don't know what would be my area of interest as a future software developer
            (as there are tons of things to explore).
            <br><br>
            Joined a corporate where i worked in <i>Web Development</i>, and here i am now developing websites
            as well as freelancing.
            <br><br>
            We all need a good website to show us who we are across globe and if you need my help in developing
            responsive websites, feel free to<a class="btn btn-link" href="https://www.google.com/">CONTACT ME</a>.
        </p>

    </div>

</div>

<!-------Body Section 2 to share my project information-------->

<div class="parent2">
    <div class="projects-header">
        <h2> Frontend Projects </h2>
    </div>
</div>
<div class="project-content-container">
    <div class="projects-content">
        <p>
            Sorry!! I can't show you the projects which i developed for my current employer(highly secured),<br>
            but i can show you the custom projects!!
            You can view it in below github account<br><br>

            GITHUB ACCOUNT :<a class="btn btn-link" href="https://github.com/Mukesh2297">Mukesh2297</a><br><br>

            PS: Don't bug me saying "Less projects only". I have started using github recently.
        </p>
    </div>
</div>