<div class="parent">
    <div class="abt-myself-heading">
        <span class="abt">About</span> &nbsp;
        <span class="myself">Myself</span>
    </div>
    <div class="abt-content">
       
            <h2>My Passion and focus is Frontend Development</h2>
            <p>
                A prospective lead and a result oriented professional with 1.5 year of rich <br>experience 
                in Procurement services and support,seeking a platform to<br> maximize my skills in 
                web developing/applications.<br><br>
                
                Highly motivated self-starter who is fully committed to 
                proving myself in a<br> new career.

            </p>
    
    </div>
    
</div>









