/*styles for parent1 block starts here*/

h2
{
    font-family: 'Times New Roman', Times, serif;
}

p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.parent1
{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}

.abt-content
{
    height: 300px;
    width: 700px;
    justify-content: center;
}


.abt
{
    font-size: 4em;
    font-family: 'Exo',sans-serif;
}

.myself
{
    font-size: 8em;
    font-family: 'lobster',cursive;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

/*styles for parent2 block starts here*/

.parent2
{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    color: darkgrey;
    justify-content: center;
}

.project-content-container
{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    color: darkgrey;
    justify-content: center;

}

